@model ChangeTierViewModel

@{
    ViewData["Title"] = "Change Tiers";
}

<h2>Change Tiers</h2>
<hr />

<div class="ml-1 row">
    <b>References:</b> &nbsp;
    <a target="_blank" href="https://docs.microsoft.com/en-us/azure/storage/blobs/storage-lifecycle-management-concepts?tabs=azure-portal">Automating Azure Blob Storage Access Tiers</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a target="_blank" href="https://azure.microsoft.com/en-us/blog/azure-blob-storage-lifecycle-management-now-generally-available/">Azure Blob Storage Lifecycle Management</a>
</div>
<br />

@using (Html.BeginForm("ChangeTiers", "ChangeTiers", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">
            <label class="control-label font-italic">Container Name</label>
            <div class="form-group">
                <select asp-for="ContainerName" asp-items="Model.Containers" class="form-control"></select>
                <span asp-validation-for="ContainerName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label class="control-label font-italic">Tier Name</label>
            <div class="form-group">
                <select asp-for="TierName" asp-items="Model.Tiers" class="form-control"></select>
                <span asp-validation-for="TierName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label class="control-label font-italic">Days</label>
            <div class="form-group">
                <input asp-for="Days" class="form-control" />
                <span asp-validation-for="Days" class="text-danger"></span>
            </div>
        </div>
    </div>

    <button type="submit">Run</button>
}

@if (Model.Result != null && Model.Result.ItemsMoved.Any())
{
    <br />
    <br />
    <div class="text-info">
        <p>
            <span>Items moved:</span><br />
            <ul>
                @foreach (var item in Model.Result.ItemsMoved)
                {
                    <li>@item</li>
                }
            </ul>
            <br />
            <span>Operation Cost: $</span>@String.Format("{0:F5}", Model.Result.OperationCost)
        </p>
    </div>
}

<br />
<span class="font-weight-bold">Location: </span> Center of EE.UU.
<br />

<table class="table">
    <thead>
        <tr>
            <td></td>
            <th>Hot</th>
            <th>Cool</th>
            <th>Archive</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Write to
            </td>

            <td><span>$0.000005</span> per TRX</td>
            <td><span>$0.00001</span> per TRX</td>
            <td><span>$0.00001</span> per TRX</td>
        </tr>
        <tr>
            <td>
                Read from
            </td>

            <td><span>$0.0000004</span> per TRX</td>
            <td><span>$0.000001</span> per TRX</td>
            <td><span>$0.0005</span> per TRX</td>
        </tr>
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
